@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");


.userProfile {
    display: flex;
    flex-direction: row;
    justify-content: left;
    position: relative;
    padding: 0px 30px 30px 30px;

}

@media screen and (max-width:800px){
    .userProfile {
        flex-direction: column;
    }
}

.profileAndDetails {
    width: 22vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
    padding: 30px 0px 30px 0px;
    margin: 30px;
    /* background-color: black; */
    
}

@media screen and (max-width:800px){
    .profileAndDetails {
        width: 100%;
        margin: 0;
    }
}

#profileUserCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px 0px 30px 0px;
    /* background-color: azure; */
}

#profileUserCard > img {
    border-radius: 50%;
}
#profileUserCard > * {
    margin: 0 0.5em;
}
#selectOptions{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    width: 240px;
}

.option {
    cursor: pointer;
}
.option {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.submenuActive {
    display: flex;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.submenuSleep {
    display: none;
    position: relative;
    overflow: hidden;
}

#selectDetails {
    /* background-color: aqua; */
    width: 100%;
}

.optionSelected {
    border-bottom: 2px solid black;
    font-weight: bold;
}

.option::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition:  .3s;
}

.option:hover::after {
    width: 100%;
    transition:  .3s;
}

.subOption::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition:  .3s;
}


.subOption:hover::after {
    width: 100%;
    transition:  .3s;
} 

.subOption{
    list-style-type: none;
    margin: 17px 0px 17px 0px;
}


.optionDetails {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px 30px 0px;
}

.optionDetailsHidden {
    display: none;
}

#profileDetailsForm {
    width: 100%;
}

.updateProfileInputBoxes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}

.updateProfileInputBoxes > label {
    size: 0.6rem;
}

.updateProfileInputBoxes > input {
    margin: 10px 0px 0px 0px
}

.updateProfileInputBoxes > input:focus-visible {
    background-color: none;
    border-color: none;
    outline:none!important;
}

.updateProfileDetailsRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px 0 40px;
}

.updateProfileTextInput > input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid black;
}

.overlay{
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s;
}
