@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");


.userProfile {
    display: flex;
    flex-direction: row;
    justify-content: left;
    position: relative;
}

@media screen and (max-width:800px){
    .userProfile {
        flex-direction: column;
    }
}

.profileAndDetails {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
    background-color: black;
}

#profileUserCard {
    background-color: azure;
}

#selectOptions{
    background-color: red;
    /*width: 240px;*/
    align-self: center;
}

.option {
    cursor: pointer;
}


.option {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.submenuActive {
    display: flex;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.submenuSleep {
    display: none;
    position: relative;
    overflow: hidden;
}

#selectDetails {
    background-color: aqua;
    width: 100%;
}

.optionSelected {
    border-bottom: 2px solid black;
    font-weight: bold;
}


.optionDetails {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.optionDetailsHidden {
    display: none;
}

#profileDetailsForm {
    width: 100%;
}

.updateProfileInputBoxes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}

.updateProfileInputBoxes > label {
    size: 0.6rem;
}

.updateProfileInputBoxes > input:focus-visible {
    background-color: red;
}

.updateProfileDetailsRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px 0;
}

.updateProfileTextInput > input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid black;
}